/.cr/personal/FavoritesList
/.cr/personal/FeatureAdvisor
/.idea/.idea.LabExtended/.idea
/.vs
/LabExtended/bin/Release
/LabExtended/bin/Debug
/LabExtended/obj
/LabExtended.Testing/bin/Release
/LabExtended.Testing/bin/Debug
/LabExtended.Testing/obj